---
layout: default
permalink: /
---

      <section class="commerce-hero-content-wrapper center overflow-hidden"> {% for post in site.posts limit: 1 %}<amp-img
            class="commerce-hero-image"
            src="{{ site.baseurl }}/assets/img/bordir1.svg"
            width="750"
            height="573"
            layout="responsive"
            media="(max-width: 52.06rem)"
            alt="Hero Landing 1"
            noloading=""
          >
            <div placeholder="" class="commerce-loader"></div>
          </amp-img>
          <amp-img
            class="commerce-hero-image"
            src="{{ site.baseurl }}/assets/img/bordir.svg"
            width="2560"
            height="800"
            layout="responsive"
            media="(min-width: 52.07rem)"
            alt="Hero Landing 1"
            noloading=""
          >
            <div placeholder="" class="commerce-loader"></div>
          </amp-img>
          <div
            class="commerce-hero-content commerce-hero-content-theme-primary flex justify-center flex-column md-mx-auto md-p0"
          >
            <div class="commerce-hero-align md-mx-auto">
              <h2
                class="commerce-hero-content-title h4 md-h1 caps md-mb2 md-pl4"
              >
                Jasa Bordir Tasikmalaya
              </h2>
              <p class="commerce-hero-content-body">
                Kami menerima Jasa Bordir MANUAL (juki) & KOMPUTER.
              </p>
              <a class="ampstart-btn ampstart-btn-secondary caps md-ml4" href="{{ site.baseurl }}/jasa-bordir/">
                lanjut
              </a>
            </div>
          </div>
		  {% endfor %}
      </section>
      <section class="commerce-hero-content-wrapper center overflow-hidden"> {% for post in site.posts limit: 1 %}<amp-img
            class="commerce-hero-image"
            src="{{ site.baseurl }}/assets/img/design1.svg"
            width="750"
            height="573"
            layout="responsive"
            media="(max-width: 52.06rem)"
            alt="Hero Landing 1"
            noloading=""
          >
            <div placeholder="" class="commerce-loader"></div>
          </amp-img>
          <amp-img
            class="commerce-hero-image"
            src="{{ site.baseurl }}/assets/img/design.svg"
            width="2560"
            height="800"
            layout="responsive"
            media="(min-width: 52.07rem)"
            alt="Hero Landing 1"
            noloading=""
          >
            <div placeholder="" class="commerce-loader"></div>
          </amp-img>
          <div
            class="commerce-hero-content commerce-hero-content-theme-primary flex justify-center flex-column md-mx-auto md-p0"
          >
            <div class="commerce-hero-align md-mx-auto">
              <h2
                class="commerce-hero-content-title h4 md-h1 caps md-mb2 md-pl4"
              >
                Masker Bordir
              </h2>
              <p class="commerce-hero-content-body">
                Jual Produk Masker Bordir Dengan Motif Beragam.
              </p>
              <a class="ampstart-btn ampstart-btn-secondary caps md-ml4" href="{{ site.baseurl }}/produk/">
                shop
              </a>
            </div>
          </div>
		  {% endfor %}
      </section>
      <section class="commerce-hero-content-wrapper center overflow-hidden"> {% for post in site.posts limit: 1 %}<amp-img
            class="commerce-hero-image"
            src="{{ site.baseurl }}/assets/img/contact1.svg"
            width="750"
            height="573"
            layout="responsive"
            media="(max-width: 52.06rem)"
            alt="Hero Landing 1"
            noloading=""
          >
            <div placeholder="" class="commerce-loader"></div>
          </amp-img>
          <amp-img
            class="commerce-hero-image"
            src="{{ site.baseurl }}/assets/img/contact.svg"
            width="2560"
            height="800"
            layout="responsive"
            media="(min-width: 52.07rem)"
            alt="Hero Landing 1"
            noloading=""
          >
            <div placeholder="" class="commerce-loader"></div>
          </amp-img>
          <div
            class="commerce-hero-content commerce-hero-content-theme-primary flex justify-center flex-column md-mx-auto md-p0"
          >
            <div class="commerce-hero-align md-mx-auto">
              <h2
                class="commerce-hero-content-title h4 md-h1 caps md-mb2 md-pl4"
              >
                Kontak Kami
              </h2>
              <p class="commerce-hero-content-body">
                Ada pertanyaan? Jangan Sungkan untuk menghubungi kami.
              </p>
              <a class="ampstart-btn ampstart-btn-secondary caps md-ml4" href="{{ site.baseurl/kontak/ }}">
                lanjut
              </a>
            </div>
          </div>
		  {% endfor %}
      </section>
