---
layout: default
---
    <main id="content" role="main" class="main flex flex-wrap items-start">
      <article
        class="commerce-blog-wrapper col-12 md-col-8 px2 pt2 pb3 md-px4 md-pt6 md-pb7" itemscope itemtype="http://schema.org/BlogPosting"
      >
        <div class="mt3">
          <h1 class="h3" itemprop="name headline">{{ page.title }}</h1>
          <time datetime="{{ page.date | date_to_xmlschema }}" class="block mb2" itemprop="datePublished">{{ page.date | date: "%b %-d, %Y" }}</time
          >{% if page.author %} • <span itemprop="author" itemscope itemtype="http://schema.org/Person"><span itemprop="name">{{ page.author }}</span></span>{% endif %}
        <amp-img
          src="{{ page.iset | prepend: site.baseurl }}"
          width="750"
          height="427"
          layout="responsive"
          alt="{{ page.title }}"
          noloading=""
        >
          <div placeholder="" class="commerce-loader"></div>
        </amp-img>
          <p class="mb5" itemprop="articleBody">
    {{ content }}
          </p>
        </div>
        <br/>
  {% include amp-social-share.html %}
<!-- Post Navigation -->
<div class="pagination">
  {% if page.previous.url %}<a class="back ampstart-btn ampstart-btn-secondary inline-block h7 pt3 mt4 md-mb4" href="{{ page.previous.url | prepend: site.baseurl }}">←&nbsp; Previous</a>{% endif %}
  {% if page.next.url %}<a class="next ampstart-btn ampstart-btn-secondary inline-block h7 pt3 mt4 md-mb4" href="{{ page.next.url | prepend: site.baseurl }}">Next&nbsp;→</a>{% endif %}
</div>
        <center><a
          href="{{ site.baseurl | append: '/blog/'}}"
          class="home ampstart-btn ampstart-btn-secondary inline-block h7 pt3 mt4 md-mb4"
          >Back to Blog</a
        ></center>
      </article>
    {% include aside.html %}
  </main>
